@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 127, 154, 70;
}

.dark {
  --foreground-rgb: 0, 0, 15;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:focus {
  outline: none;
}
